@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0)
}

body {
  font-family: 'Roboto condesed', sans-serif;
}




/******************* NAVBAR ************************/

.logo {
  width: 2rem;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important; /* important is to override bootstrap rules*/
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  border-top: 00.1875rem solid var(--primary-dark); /*refer to other border below prevent the nav bar to jump
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  /* height: 2.8rem !important; */
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {/* actve prevent the other hover to stay */
  border-top: 0.1875rem solid var(--primary-orange) ;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange) ;
}